html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("/background.jpg");
  background-size: cover;
  height: 100%;
}

#__next {
  height: 100%;
}
.input-group-text {
  width: 200px;
  justify-content: center;
}

.container {
  background-color: white;
  height: 100%;
}

.stretchy {
  justify-content: space-between;
}

.expandos {
  flex-grow: 3;
  border: 0;
}

.no-stretchy {
  flex-shrink: 0;
  border: 0;
}

.codulet {
  margin-right: 10px;
}

#alertos {
  margin-top: 15px;
}
